@font-face {
    font-family: Pricedown;
    src: url("/fonts/Pricedown.ttf");
}

.main-container {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
}

#minimap {
    --stroke: 1em;
    width: 300px;
    height: 300px;
    transform-origin: top left;
    position: relative;
    margin: 0;
}

#minimap .content {
    position: absolute;
    width: calc(100% - var(--stroke));
    height: calc(100% - var(--stroke));
    left: calc(var(--stroke) * 0.5);
    top: calc(var(--stroke) * 0.5);
    border-radius: 100%;
    border: var(--stroke) solid black;
    box-sizing: border-box;
}

#map {
    width: calc(100% + var(--stroke) * 0.5);
    height: calc(100% + var(--stroke) * 0.5);
    position: absolute;
    left: calc(var(--stroke) * -0.25);
    top: calc(var(--stroke) * -0.25);
    margin: 0;
    border-radius: 100%;
    z-index: -1;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pin {
    width: calc(var(--stroke) * 2);
    height: calc(var(--stroke) * 2);
    stroke-width: calc(var(--stroke) * 0.33);
    transition: transform 0.2s ease;
}

#pin.error {
    position: relative;
    width: calc(var(--stroke) * 8);
    height: calc(var(--stroke) * 8);
    top: 1.2em;

    font-family: Pricedown, sans-serif;
    font-size: 1.5em;
    text-shadow: 0 0 0.1em black;
    fill: #ffffff;

    text-align: center !important;
    font-size: 2em !important;
    color: #ffffff;
    text-anchor: middle;
}

#pin:not(.error)>:not(.error) {
    display: block;
}

#pin:not(.error)>.error {
    display: none;
}

#pin.error>:not(.error) {
    display: none;
}

#pin.error>.error {
    display: block;
}

#north {
    background-color: black;
    color: white;
    width: 1.2em;
    height: 1.2em;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-family: Pricedown, sans-serif;
}

#north>i {
    font-style: normal;
    height: 1.7em;
}