<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Minimap</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/minimap/minimap.css" />

    <!-- Leaflet -->
    <link rel="stylesheet" href="/minimap/leaflet.css" />
    <script type="text/javascript" src="/minimap/leaflet.js"></script>

    <!-- MapLibre GL JS (still required to handle the rendering) -->
    <link rel="stylesheet" href="/minimap/maplibre-gl.css" />
    <script type="text/javascript" src="/minimap/maplibre-gl.js"></script>

    <!-- MapLibre GL Leaflet -->
    <script type="text/javascript" src="/minimap/maplibre-gl-leaflet.js"></script>
</head>

<body class="main-container">
    <div id="minimap">
        <div id="map"></div>
        <div class="overlay">
            <span id="north"><i>N</i></span>
            <svg id="pin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                <defs>
                    <style>
                        .b {
                            fill: #fff;
                            stroke: #000;
                            stroke-miterlimit: 10;
                        }
                    </style>
                </defs>
                <path class="b"
                    d="M45,30c0,8.2843-6.7157,15-15,15s-15-6.7157-15-15c0-12.4516,15-27.1947,15-27.1947,0,0,15,14.743,15,27.1947Z" />
            </svg>
        </div>
    </div>
    <script>window.URL = "{{ URL }}"</script>
    <script>window.SOCKET = "{{ SOCKET }}"</script>
    <script type="module" src="/minimap/minimap.js"></script>
</body>

</html>